<app-header></app-header>
<div class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" *ngFor="let item of navItems">
                            <li *ngIf="item.isChild == false" class="nav-item" (click)="navigate(item.path)">
                                <a>{{ item.title }}</a>
                            </li>
                            <!-- example of dropdown into navbar of this theme -->
                            <li *ngIf="item.isChild == true && item.type == 'department'" class="nav-item">
                                <a>{{ item.title }}</a>
                                <ul class="sub-menu" *ngFor="let child of item.childs">
                                    <li (click)="navigateToDepart(child.id)"><a>{{ child.name }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav> <!-- nav -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
