<div class="header-logo-support pt-30 pb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="logo">
                    <a href="index-2.html">
                        <img src="assets/images/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="support-button float-right d-none d-md-block">
                    <!-- <div class="support float-left">
                        <div class="icon">
                            <img src="assets/images/all-icon/support.png" alt="icon">
                        </div>
                        <div class="cont">
                            <p>Need Help? call us free</p>
                            <span>321 325 5678</span>
                        </div>
                    </div> -->
                    <div class="button float-left">
                        <a href="#" class="main-btn">Register Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>