<app-page-banner [data]="bannerData"></app-page-banner>
<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>{{ data.course_name }}</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="course-category">
                                    <span>Category</span>
                                    <h6>{{ data.category }} </h6>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- course terms -->

                    <div class="corses-singel-image pt-50">
                        <img src="{{ this.baseUrl + data.displayImage }}" alt="Courses">
                    </div> <!-- corses singel image -->

                    <div class="corses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"
                                    aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab"
                                    aria-controls="curriculam" aria-selected="false">Curriculam</a>
                            </li>
                            <li class="nav-item">
                                <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab"
                                    aria-controls="instructor" aria-selected="false">Instructor</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
                                    aria-selected="false">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="singel-description pt-40">
                                        <h6>Course Description</h6>
                                        <p>{{data.description}}</p>
                                    </div>
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>Learn {{ data.course_name }} with these subjects</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        <div class="card" *ngFor="let item of data.subjects; let i = index">
                                            <div class="card-header" id="headingOne">
                                                <a>
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">{{ i }}</span></li>
                                                        <li><span class="head">{{ item.name }}</span></li>
                                                        <li><span class="time d-none d-md-block"><i
                                                                    class="fa fa-clock-o"></i> <span>
                                                                    00.30.00</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>
                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-author d-flex" *ngFor="let item of data.faculty">
                                        <img class="img-fluid img-thumbnail w-25 border-0" src="{{ item.profile != null ? this.baseUrl + item.profile : 'assets/images/instructor/i-1.jpg' }}" alt="Instructor">
                                        <!-- <div class="author-thum">
                                        </div> -->
                                        <div class="author-name mx-5 my-5">
                                            <a>
                                                <h5>{{ item.name }}</h5>
                                            </a>
                                            <span>{{ item.faculty_info.type }}</span>
                                        </div>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title" *ngIf="data.reviews.length > 0">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    <ul>
                                        <li *ngFor="let item of data.reviews">
                                            <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <div class="author-img" [style.background-image]="'url(' + (item.profile != null ? this.baseUrl + item.profile : 'assets/images/instructor/i-1.jpg') + ')'"></div>
                                                    </div>                                                    
                                                    <div class="author-name">
                                                        <h6>{{ item.name }}</h6>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>{{ item.review }}</p>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave your feedback</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Enter your student id">
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-6">
                                                    <div class="form-singel">
                                                        <input type="text" placeholder="Last Name">
                                                    </div>
                                                </div> -->
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <textarea placeholder="Feedback"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <button type="button" class="main-btn">Post Feedback</button>
                                                    </div>
                                                </div>
                                            </div> <!-- row -->
                                        </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- corses singel left -->

            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                            <h4>Course Features </h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>Duaration : <span>{{ data.duaration }}</span></li>
                                <li><i class="fa fa-clone"></i>Classes : <span>{{ data.no_of_classess }}</span></li>
                                <li><i class="fa fa-user-o"></i>Students : <span>{{ data.stdCount }}</span></li>
                            </ul>
                            <div class="price-button pt-10">
                                <a href="#" class="main-btn w-100 ">Enroll Now</a>
                            </div>
                        </div> <!-- course features -->
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>