.curriculam-cont .accordion .card .card-header a::before,
.curriculam-cont .accordion .card .card-header a.collapsed::before {
    content: "" !important;
    font-family: FontAwesome;
    font-size: 18px;
    color: #8a8a8a;
    position: absolute;
    top: 15px;
    right: 15px;
}
