<div class="about-items pt-60">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>01</span>
                <h4>Why Choose us</h4>
                <p>Join us and be part of a vibrant learning community that nurtures your talents and helps you achieve your goals.</p>
            </div> <!-- about singel -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>02</span>
                <h4>Our Mission</h4>
                <p>We empower students with knowledge, skills, and values to succeed in a changing world. Our commitment is to quality education, fostering critical thinking, and inspiring lifelong learning for meaningful societal contributions.</p>
            </div> <!-- about singel -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>03</span>
                <h4>Our vission</h4>
                <p>Our vision is to be a leading institution of higher learning, recognized for academic excellence, innovation, and societal impact. We aspire to cultivate a dynamic learning community that fosters creativity, inclusivity, and global citizenship.</p>
            </div> <!-- about singel -->
        </div>
    </div> <!-- row -->
</div> <!-- about items -->