<div class="about-items pt-60">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>01</span>
                <h4>Why Choose us</h4>
                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci</p>
            </div> <!-- about singel -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>02</span>
                <h4>Our Mission</h4>
                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci</p>
            </div> <!-- about singel -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="about-singel-items mt-30">
                <span>03</span>
                <h4>Our vission</h4>
                <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit sollicitudirem quibibendum auci</p>
            </div> <!-- about singel -->
        </div>
    </div> <!-- row -->
</div> <!-- about items -->