<div class="singel-course mt-3">
    <div class="thum">
        <div class="image">
            <img src="{{ this.baseUrl + data.displayImage }}" alt="Course">
        </div>
    </div>
    <div class="cont">
        <ul>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <span>({{ data.reviewsCount }} Reviews)</span><br>
        <a href="courses-singel.html"><h4>{{ data.course_name }}</h4></a>
        <div class="course-teacher mt-3">
            <div class="admin">
                <ul>
                    <li><a href="#"><i class="fa fa-user"></i><span>{{ data.stdCount }}</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- single course -->
